<%= simple_form_for @closedfile, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
  <legend><%= controller.action_name.capitalize %> File</legend>
  
  <%= f.input :file_number, :label => 'File Number' %>
  <%= f.input :box_number, :label => 'Box Number' %>
  <%= f.input :wallet_qty, :label => 'No. of Wallets' %>
  <%= f.input :client_name, :label => 'Client Name' %>
  <%= f.input :matter_name, :label => 'Matter Name' %>
  <%= f.input :cm_number, :label => 'Client/Matter #' %>
  <%= f.input :atty_name, :label => 'Attorney Name' %>
  <%= f.input :destruction_date, :label => 'Destruction Date' %>
  <%= f.input :scaned %>

  <div class="form-actions">
    <%= f.submit 'Save', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                closedfiles_path, :class => 'btn' %>
  </div>
<% end %>
