<%- model_class = Closedfile.new.class -%>
<h1>Closed Files</h1>
<%= form_tag closedfiles_path, :method => 'get', :id => "closedfiles_search" do %>
    <%= text_field_tag :search, params[:search], :class => 'search-query' %>
    <%= submit_tag "Search", :name => nil, :class => 'btn' %>

<% end %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_closedfile_path,
            :class => 'btn btn-primary new' %>
<div id="closedfiles">
  <%= render 'closedfiles' %>
</div>

<%= will_paginate @products %>