<%- model_class = @closedfile.class -%>
<h1><%= @closedfile.file_number %></h1>

<p>
  <strong>File Number:</strong><br>
  <%= @closedfile.file_number %>
</p>
<p>
  <strong>Box Number:</strong><br>
  <%= @closedfile.box_number %>
</p>
<p>
  <strong>No. of Wallets:</strong><br>
  <%= @closedfile.wallet_qty %>
</p>
<p>
  <strong>Client Name:</strong><br>
  <%= @closedfile.client_name %>
</p>
<p>
  <strong>Matter Name:</strong><br>
  <%= @closedfile.matter_name %>
</p>
<p>
  <strong>Client Matter Number:</strong><br>
  <%= @closedfile.cm_number %>
</p>
<p>
  <strong>Attorney Name:</strong><br>
  <%= @closedfile.atty_name %>
</p>
<p>
  <strong>Destruction Date:</strong><br>
  <%= @closedfile.destruction_date %>
</p>
<p>
  <strong>Scanned?:</strong><br>
  <%= @closedfile.scaned %>
</p>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              closedfiles_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_closedfile_path(@closedfile), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              closedfile_path(@closedfile),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
